li a{
    cursor:pointer;
    padding:10px 15px !important;
}
.ni-3x {
    font-size: 20px;
}
.languageseclect{
    color:#ffffff;
    background:transparent;
    outline: none;
    border:none;
}
option{
    color:#000000 !important;
}