.ni-3x {
    font-size: 2em;
}
.Noticon{  position: relative;
left: 342px;
color: #dc1571;
/* right: 19px; */
top: 123px
}
agm-map {
    height: 300px;
  }

  #map {
    height: 100%;
    width: 100%;
    position: absolute;
}