<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped" style="padding:0 !important; min-height:75px !important;">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
    </section>
  </div>
  <!-- <label>Add an item: <input #newItem></label>
  <button (click)="addNewItem(newItem.value)">Add to parent's list</button> -->

  <app-sections ></app-sections>
  
</main>
<!-- <app-footer></app-footer> -->